<p id="notice"><%= notice %></p>

<p>
  <div class="featurette-heading text-center">
    <h1>Showing more stuff!!!!!!!!!!!!!!!!</h1>
  <div>

  <p class="lead"><%= @todo_item.description %></p>
</p>

<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Back', todo_items_path %>
